.Header{
  width: 100%;
  background-color: #FFFFFF;
  color: white;
  padding-top: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

html {
  scroll-behavior: smooth;
}

.MainSection{
  background-color: white;
  padding-right: 15px;
  padding-left: 15px;
  padding-bottom: 25px;
  padding-top: 25px;
}

.NavBar{
  font-size: 20px;
  color: black;
  font-family: AlatsiFont;
  src: url("../public/Font/Alatsi-Regular.ttf") format("truetype"); 
}

.CatalogSection{
  
  font-size: 35px;
  font-family: AlatsiFont;
  src: url("../public/Font/Alatsi-Regular.ttf") format("truetype"); 
}

@font-face {
  font-family: AlatsiFont; 
  src: url("../public/Font/Alatsi-Regular.ttf") format("truetype"); 
}

.StoreName{
  font-family: AlatsiFont;
}

@font-face {
  font-family: JosefinSansBold; 
  src: url("../public/Font/JosefinSans-Bold.ttf") format("truetype"); 
}

@font-face {
  font-family: JosefinSansItalic; 
  src: url("../public/Font/JosefinSans-Italic.ttf") format("truetype"); 
}

@font-face {
  font-family: JosefinSansMedium; 
  src: url("../public/Font/JosefinSans-Medium.ttf") format("truetype"); 
}

.Tagline1{
  color: black;
  font-size: clamp(0.8rem, 2vw, 1.25rem); 
  font-family: AlatsiFont;
  line-height: 3rem;
  margin-top: -0.75rem;
}

.Story{
  color: black;
  font-size: clamp(1.05rem, 1.5vw, 1.5rem); 
  font-family: AlatsiFont;
  line-height: 1.5rem;
}

.StoryLast{
  color: black;
  font-family: AlatsiFont;
    font-size: clamp(1.2rem, 2vw, 2rem); 
  line-height: 2rem;
}

.StoreName{
  font-size: clamp(1.2rem, 1.5vw, 1rem); 
}


.Footer{
  line-height: 1.75rem;
}

.ColorFitting{
  font-family: AlatsiFont;
  font-size: clamp(1rem, 1.5vw, 1.2rem); 
  color: black;
}
