.Header{
  width: 100%;
  background-color: #FFFFFF;
  color: white;

  display: flex;
  justify-content: center;
  align-items: center;
}

.MainSection{
  background-color: #FFFFFF;
  padding-right: 15px;
  padding-left: 15px;
  padding-bottom: 25px;
}