
.ProductName{
    position: absolute;
    inset: 0;

    display: flex;
    align-items: center;
    justify-content: center;

    color: white;

    font-family: "BasketBall";
    src: url("../public/Font/Basketball.otf") format("opentype");

    /* background: red;
    background-clip: text;
    -webkit-background-clip: text;

    color: transparent;
    -webkit-text-fill-color: transparent; */

    font-size: 1.6rem;
    line-height: 1;

    font-weight: 700;
}