
.ProductName{
    position: absolute;
    inset: 0;

    display: flex;
    align-self: center;
    justify-content: center;

    color: white;

    font-family: AlatsiFont;
    src: url("../public/Font/Alatsi-Regular.ttf") format("truetype"); 

    font-size: clamp(0.5rem, 4vw, 1.5rem); 

    line-height: 1;

    font-weight: 300;
}

@font-face {
  font-family: AlatsiFont; 
  src: url("../public/Font/Alatsi-Regular.ttf") format("truetype"); 
}

.ProductMainName{
    padding-top: 15px;
    font-family: AlatsiFont;
    src: url("../public/Font/Alatsi-Regular.ttf") format("truetype"); 
}

.ProductMainDescription{
    font-family: AlatsiFont;
    src: url("../public/Font/Alatsi-Regular.ttf") format("truetype"); 
}

.productBackground:hover .productOverlap{
    opacity: 1;
}

.productOverlap {
    opacity: 0;
    transition: opacity 0.5s ease;
}